{% extends 'main_page/base.html' %}

{% block title %} About {% endblock title %}

{% block body%} 
<div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container m-10">
            <div class="row" id="pic">
                <div class="col-xl-12">
                    <div class="hero-cap text-center" >
                        <h2 >About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" id="abt-cont">
    <div class="box">
        <div class="icon">
            01
        </div>
        <div class="content">
            <h3>Regular Medication</h3>
            <p>We Have an experienced team of doctors who monitor and provide vaccine to the pets.We are always
                there at the kennel club at an Emergency time. Feel free to visit and have a talk with the experts
                regarding any doubts and essues. </p>
        </div>
    </div>
    <div class="box">
        <div class="icon">
            02
        </div>
        <div class="content">
            <h3>Personal Trainer</h3>
            <p>However, people often call a dog trainer only when they have a problem on their hands. This might
                mean working with reactive dogs or those with separation anxiety or other issues. We are there to
                help . </p>
        </div>
    </div>
    <div class="box">
        <div class="icon">
            03
        </div>
        <div class="content">
            <h3>Organise Events</h3>
            <p>We Organise many get together events for Pets to be in friendly and safe environment. </p>
        </div>
    </div>
</div>
{%endblock body %}