{% extends 'admin_page/admin_base.html' %}

{% block title %} Product {% endblock title %}

{% block content%}
    <div class="container">
        <h1 class="h1">Product page</h1>
    </div>

    <div class="col-lg-10" id="padding">
        
        <table class="table table-striped">
            <tr>
                <th>Product title</th>
                <th>Price</th>
                <th>Image name</th>

                {% for a in products %}
            <tr>
                <td>{{a.title}}</td>
                <td>{{a.price}}</td>
                <td>{{a.image}}</td>
                <th>

                    <a href="edit/{{a.id}}">Edit</a>

                    <a href="delete/{{a.id}}">Delete</a>
                </th>
            </tr>
            {% endfor %}
        </table>

        <div class="container-fluid" id="btn">
            <a class="btn btn-primary" href="/adm/index/product/createItem/" role="button">Create Product</a>
        </div>
    </div>
    {% endblock content%}